syntax: glob

# general
*~
*.ali
*.exe
*.o
*.orig
*-stamp

# Ada build stuff
.build*
bin
include
lib-relocatable
lib-static

# distributions
ews-[0-9]*

# doc/
doc/*.aux
doc/*.lof
doc/*.log
doc/*.out
doc/*.tex
doc/*.toc
doc/HttpInteraction.js
doc/favicon.ico
doc/index.html
doc/ajax.html
doc/ajax.js
doc/ews_demo*
doc/ews_htdocs.*
